<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AchieversIT </title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <section class="promo-banner">
    <p>
      Hyderabad Exclusive: Limited-Time Offer! Master Full Stack Development & Save Up to 20%
      | OFFER ENDING IN <span class="countdown">06 D 08 H 27 M 25 S</span>
    </p>
    <button class="check-now-btn">Check Now</button>
  </section>
  <header class="main-navbar">
        <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="AchieversIT Logo" />

    
    <nav>
      <ul class="nav-list">
        <li><a href="./allcourse.html" >All Courses</a></li>
        <li><a href="./placements.html">Placements</a></li>
        <li><a href="./internship.html">Internship</a></li>
        <li><a href="./existingstudents.html">Existing Students</a></li>
        <li><a href="./aboutus.html">About Us</a></li>
        <li><a href="./reviews.html">Reviews</a></li>
        <li><a href="./blog.html">Blog</a></li>
      </ul>
    </nav>
  </header>
  <section class="hero-banner">
    <h1>ANGULAR DEVELOPMENT COURSE</h1>
    <button class="explore-btn">EXPLORE COURSE</button>
  </section>
  





</body>
</html>