h1{
    background-color: burlywood;
    color: chartreuse;
    text-align: center;
    padding: 0px;
}
h5{
    background-color: aqua;
    color: chocolate;
    text-align: center;
    padding: 0px;
}
h3{ background-color: burlywood;
    color: chartreuse;
    text-align: center;
    padding: 0px;
    font-size: large;
}

