.profilecontainer{
    width: 320px;
    border-radius: 50%;
    display:flex;
}
.profilecard{
    
    margin: 10px;
    width: 250px;
    background-color: rgb(241, 238, 238);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
button:hover{
    background-color: brown;
}